<!DOCTYPE html>
<html>
<head>
  <title><%= theme_name.humanize %></title>
  <%%#= csrf_meta_tags %>
  <%%#= csp_meta_tag %>
  <%%= stylesheet_link_tag    "<%= %Q{#{theme_name}/all} %>", media: "all" %>
  <%%= javascript_include_tag "<%= %Q{#{theme_name}/all} %>" %>
</head>
<body>

<%%= yield %>

</body>
</html>
